<!-- header.html -->
<header>
     <div class="header-container">
         <h1>Gestor de Tareas y Proyectos</h1>
         <nav>
             <ul class="nav-links">
                 <li><a href="{{ url_for('summary') }}">Resumen de Tareas</a></li>
                 <li><a href="{{ url_for('add_task') }}">Agregar Tarea</a></li>
                 <li><a href="{{ url_for('tasks') }}">Ver Tareas</a></li>
                 <!-- Agrega más enlaces según sea necesario -->
             </ul>
         </nav>
     </div>
 </header>
 